nav, article, aside, footer section {
  margin: 0 auto;
  width: 900px;
}

nav {
  margin-top: 25px;
}
h2 {
  margin-top: 50px;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
}

input {
  font-family: 'Patrick Hand', cursive;
}